<% @tasks.each do |task| %>
  <div class="flex">
  <input type="checkbox"  <%='checked' if task.completed%>>
  <span><%= link_to "#{task.title}", "../tasks/#{task.id}" %></span>
</div>
  <% end %>
<%= link_to "add a new task", "../tasks/new" %>
